.sidebarRow {
    display: flex;
    align-items: center;
    padding: 5px 40px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: #C6E3FF;
}

.sidebarRow > h6 {
    margin: 15px;
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #666667;
}

.sidebarRow.active {
    background-color: #C6E3FF;
    border-left: #2F80ED 5px solid;
}

.sidebarRow .newMsg {
    background-color: #FDBC1F; 
    height: 10px;
    width: 10px; 
    border-radius: 999px;
    margin-left: -8px;
}
