.sidebar {
    height: 100%;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    height: 125px;
}

.sidebar__plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddeefd;
    border-radius: 10px;
    margin: 20px;
    margin-top: 90px;
    padding: 10px;
}

.sidebar__plan>button {
    background-color: #ddeefd;
    border-radius: 5px;
    height: 45px;
    width: 150px;
    border: #94949c 2px solid;
}